<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
  </head>
  <body>
    <h1>Signup with your credentials</h1>

    <form method="POST" action="/user">
      <label>Full Name</label>
      <input type="text" placeholder="Enter your name" required name="name" />

      <label>Email</label>
      <input type="email" placeholder="Enter your email" required name="email" />

      <label>Password</label>
      <input
        type="password"
        placeholder="Enter your password"
        required
        name="password"
      />

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
